################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/APP_SURAT_KPT/bin/*
/APP_SURAT_KPT/obj/*
/APP_SURAT_KPT/Properties/*
/INTEGRASI API 2/bin/*
/INTEGRASI API 2/obj/Release/Package/PackageTmp/bin/INTEGRASI API 2.dll
