
@{
    ViewBag.Title = "Dashboard";
    ViewBag.NavMainLink = "";
    ViewBag.NavMainLinkSubmenu = "";

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>Selamat Datang di IARM e-Form</h1>
                @*<p>Ini adalah halaman selamat datang dalam aplikasi App Integrasi KPP.</p>*@
               @* <p>Silakan lanjutkan untuk menggunakan fitur-fitur yang disediakan.</p>*@
            </div>
            @*<div class="col-md-6">
                <img src="~/Content/Image/Logo_KPP2-removebg-preview.png" alt="App Integrasi KPP" class="img-fluid">*@
        </div>
    </div>
</section>

<!-- Main content -->
